.latestNupcoming{
    text-align: center;
}
.fix-header {
    border-bottom: 1px solid black;
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: white;
}
.heading-3 {
    font-size: 50px;
    font-family: none;
    margin-right: 150px;

}

.search-bar {
    border: none;
    width: 400px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-right: 200px;
}
.search-bar:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.icons {
    justify-content: end;
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;
}
.icons:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.logins {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    left: 0;
    top: 100px;
    background-color: white;
    padding: 20px;
}
.footer {
    background-color:white;
    color: rgb(17, 14, 14);
    text-align: center;
    padding: 1em 0;
    margin-top: 17em;
    border-top: 1px solid;
}

.text {
    text-decoration: none;
    cursor: pointer;
    color: black;

}

.parent {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: white;
}

.latest{
    box-shadow: 1px 1px 15px 2px rgb(195, 194, 194);
}
.l-n-u-img{
    display: inline-block;
    height: 300px;
    width: 300px;
}
.heading-1 {
    font-size: 50px;
    font-family: none;
    margin-right: 150px;}

.title{
    font-size: 24px;
    margin: 30px;
}
.shopping-card-container {
    height: 390px;
    width: 255px;
    padding: 12px;
    margin: 30px 20px;
    border: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 2px #b7b7b8;
    cursor: pointer;
}
.shopping-card-container:hover {
    box-shadow: 0px 0px 20px 2px gray;

}
.shopping-card-container1 {
    height: 280px;
    width: 255px;
    padding: 12px;
    margin: 20px 90px;
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 2px #b7b7b8;
    color: black;
}
.shopping-card-container1:hover{
    background-color:white;
    cursor: pointer;
    box-shadow:1px 1px 2px 3px black ;

}
.heading-4{
    text-align: center;
    margin: 20px;
}
.main-img{
    border-radius:20px;
    height: 200px;
    width: 255px;
    text-align: center;
    position: sticky;

}
.main-page{
    display: flex;
    
}

.shopping-items {
    height: 180px;
    width: 250px;
    background-image: url("shoes.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.jwellery{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-1 {
    background-image: url("./../img/jwellery/jwl1.png");
}
.img-2 {
    background-image: url("./../img/jwellery/jwl2.png");
}
.img-3 {
    background-image: url("./../img/jwellery/jwl13.png");
}
.img-4 {
    background-image: url("./../img/jwellery/jwellery13.png");
}
.img-5{
    background-image:url("./../img/jwellery/jwl10.png") ;
}
.img-6 {
    background-image: url("./../img/jwellery/jwl6.png");
}
.img-7 {
    background-image: url("./../img/jwellery/jwl15.png");
}
.img-8 {
    background-image: url("./../img/jwellery/jwellery12.png");
}
.img-9 {
    background-image: url("./../img/jwellery/jwellery6.png");
}
.img-10 {
    background-image: url("./../img/jwellery/jwellery14.png");
}
.img-11{
    background-image: url("./../img/jwellery/jwellery7.png");
}
.img-12{
    background-image: url("./../img/jwellery/jwellery15.png");
}
.img-13{
    background-image: url("./../img/jwellery/jwellery17.png");
}

.img-14{
    background-image: url("./../img/jwellery/jwellery13.png");
}

.img-15{
    background-image: url("./../img/jwellery/jwl1.png");
}

.img-16{
    background-image: url("./../img/jwellery/jwellery16.png");
}
.img-17{
    background-image: url("./../img/jwellery/jwl6.png");
}

.img-18{
    background-image: url("./../img/jwellery/jwl7.png");
}

.img-19{
    background-image: url("./../img/jwellery/jwl8.png");
}
.img-20{
    background-image: url("./../img/jwellery/jwl9.png");
}
.img-21{
    background-image: url("./../img/jwellery/jwl10.png");
}
.img-22{
    background-image: url("./../img/jwellery/jwl11.png");
}
.img-23{
    background-image: url("./../img/jwellery/jwl12.png");
}
.img-24{
    background-image: url("./../img/jwellery/jwl13.png");
}
.img-25{
    background-image: url("./../img/jwellery/jwl14.png");
}
.img-26{
    background-image: url("./../img/jwellery/jwl15.png");
}
.img-27{
    background-image: url("./../img/jwellery/jwl16.png");
}
.earr-1{
    background-image: url("./../img/jwellery/earr.png");
}
.earr-2{
    background-image: url("./../img/jwellery/earr1.png");
}
.earr-3{
    background-image: url("./../img/jwellery/earr2.png");
}
.earr-4{
    background-image: url("./../img/jwellery/earr3.png");
}
.earr-5{
    background-image: url("./../img/jwellery/earr4.png");
}
.earr-6{
    background-image: url("./../img/jwellery/earr5.png");
}
.earr-7{
    background-image: url("./../img/jwellery/earr6.png");
}
.earr-8{
    background-image: url("./../img/jwellery/earr7.png");
}
.earr-9{
    background-image: url("./../img/jwellery/earr8.png");
}
.earr-10{
    background-image: url("./../img/jwellery/earr9.png");
}
.earr-11{
    background-image: url("./../img/jwellery/earr10.png");
}
.earr-12{
    background-image: url("./../img/jwellery/earr11.png");
}
.earr-13{
    background-image: url("./../img/jwellery/earr12.png");
}
.earr-14{
    background-image: url("./../img/jwellery/earr13.png");
}
.earr-15{
    background-image: url("./../img/jwellery/earr14.png");
}
.earr-16{
    background-image: url("./../img/jwellery/earr15.png");
}
.earr-17{
    background-image: url("./../img/jwellery/earr16.png");
}
.earr-18{
    background-image: url("./../img/jwellery/earr17.png");
}
.earr-19{
    background-image: url("./../img/jwellery/earr18.png");
}
.earr-20{
    background-image: url("./../img/jwellery/earr19.png");
}
.bang{
    background-image: url("./../img/jwellery/bangle1.png");
}
.bang-1{
    background-image: url("./../img/jwellery/bangle2.png");
}
.bang-2{
    background-image: url("./../img/jwellery/bangle3.png");
}
.bang-3{
    background-image: url("./../img/jwellery/bangle4.png");
}
.bang-4{
    background-image: url("./../img/jwellery/bangle5.png");
}
.bang-5{
    background-image: url("./../img/jwellery/bangle6.png");
}
.bang-6{
    background-image: url("./../img/jwellery/bangle7.png");
}
.bang-7{
    background-image: url("./../img/jwellery/bangle8.png");
}
.bang-8{
    background-image: url("./../img/jwellery/bangle9.png");
}
.bang-9{
    background-image: url("./../img/jwellery/bangle10.png");
}
.bang-10{
    background-image: url("./../img/jwellery/bangle11.png");
}
.bang-11{
    background-image: url("./../img/jwellery/bangle12.png");
}
.bang-12{
    background-image: url("./../img/jwellery/bangle13.png");
}
.bang-13{
    background-image: url("./../img/jwellery/bangle14.png");
}
.bang-14{
    background-image: url("./../img/jwellery/bangle15.png");
}
.bang-15{
    background-image: url("./../img/jwellery/bangle16.png");
}
.bang-16{
    background-image: url("./../img/jwellery/bangle17.png");
}
.bang-17{
    background-image: url("./../img/jwellery/bangle18.png");
}
.bang-18{
    background-image: url("./../img/jwellery/bangle19.png");
}
.bang-19{
    background-image: url("./../img/jwellery/bangle20.png");
}
.r-1{
    background-image: url("./../img/jwellery/rakhi1.png");
}
.r-2{
    background-image: url("./../img/jwellery/rakhi2.png");
}
.r-3{
    background-image: url("./../img/jwellery/rakhi3.png");
}
.r-4{
    background-image: url("./../img/jwellery/rakhi4.png");
}
.r-5{
    background-image: url("./../img/jwellery/rakhi5.png");
}
.r-6{
    background-image: url("./../img/jwellery/rakhi6.png");
}
.r-7{
    background-image: url("./../img/jwellery/rakhi7.png");
}
.r-8{
    background-image: url("./../img/jwellery/rAkhi8.png");
}
.r-9{
    background-image: url("./../img/jwellery/rakhi9.png");
}
.r-10{
    background-image: url("./../img/jwellery/rakhi10.png");
}
.r-11{
    background-image: url("./../img/jwellery/rakhi11.png");
}
.r-12{
    background-image: url("./../img/jwellery/rakhi12.png");
}
.r-13{
    background-image: url("./../img/jwellery/rakhi13.png");
}
.r-14{
    background-image: url("./../img/jwellery/rakhi14.png");
}
.r-15{
    background-image: url("./../img/jwellery/rakhi15.png");
}
.r-16{
    background-image: url("./../img/jwellery/rakhi16.png");
}
.r-17{
    background-image: url("./../img/jwellery/rakhi17.png");
}
.r-18{
    background-image: url("./../img/jwellery/rakhi18.png");
}
.r-19{
    background-image: url("./../img/jwellery/rakhi19.png");
}
.r-20{
    background-image: url("./../img/jwellery/rakhi20.png");
}
.wishlist-icon {
    height: 30px;
    width: 30px;
    margin-left: 210px;
}
.price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.title {

    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.ratings {
    height: 15px;
    width: 70px;
    display: block;
    margin: 20px auto;
}

.descrip {
    margin-left: 10px;
    margin: 10px;
}

.menu-btn {background-color:white;
    color: black;
    margin: 30px 10px;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 40px;
    font-weight: bold;
    border: 1px solid black;
}

.menu-btn:hover{
    background-color:black;
    color: #fff;
}
.all-img{
    height:200px ;
    width: 255px;
    display: block;
    margin-bottom: 100px;
}